<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GearRent</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GearRent.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Dodaj link do biblioteki jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Dodaj linki do arkuszy stylów -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>

    <header>
        <div class="bg-image flex"
             style="background-image: url('/car.jpg'); background-size:cover; background-position:center center;
            height: 50vh">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent ms-4">
                <a class="navbar-brand" href="/home/index">GearRent</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="/cars/index">Zarezerwuj</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cars/list">Samochody</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact/index">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>

                </div>

            </nav>
        </div>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-secondary text-white py-4">
        <div class="container text-sm-center text-md-start">
            <div class="row">
                <div class="col-md-4 ">
                    <h4 class="footer-heading">GEARRENT Polska sp. z o.o.</h4>
                    <p class="footer-text"> ul. Półwiejska 42</p>
                    <p class="footer-text">61-888 Poznań</p>
                </div>
                <div class="col-md-4">
                    <h5 class="footer-heading">Informacje</h5>
                    <p class="footer-text"><a href="@Url.Action("OWNP", "Contact")" class="link-content">Ogólne warunki najmu pojazdów</a></p>
                    <p class="footer-text"><a href="@Url.Action("PrivacyPolicy", "Contact")" class="link-content">Polityka prywatności</a></p>
                    <p class="footer-text"><a href="@Url.Action("Complaint", "Contact")" class="link-content">Reklamacje</a></p>
                </div>

                <div class="col-md-4">
                    <h4 class="footer-heading">Skontaktuj się z nami!</h4>
                    <p class="footer-text">wynajmy krótkoterminowe<br>+48 123 456 789</p>
                    <p class="footer-text">wynajmy długoterminowe<br>+48 234 567 890</p>
                    <p class="footer-text"> <a href="mailto:kontakt@gearrent.pl" class="link-content">kontakt@gearrent.pl</a></p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <p class="text-center footer-text mb-0">&copy; GearRent.pl. All rights reserved. Made by YNFUS</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Dodaj link do biblioteki jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Dodaj linki do arkuszy stylów -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
