@using GearRent.PaginatedList
@using Microsoft.AspNetCore.Identity;
@model PaginatedList<IdentityUser>

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewBag.Title = "Employees List";
    ViewBag.ControllerName = "Admin";
    ViewBag.ActionName = "EmployeesList";
}

<h1>Employees List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.UserName</td>
                <td>@employee.Email</td>
                <td>@employee.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between">
    <nav>
        <ul class="pagination">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageIndex - 1 })">Previous</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.PageIndex)
                {
                    <li class="page-item active">
                        <span class="page-link">@i</span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
                    </li>
                }
            }
            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageIndex + 1 })">Next</a>
                </li>
            }
        </ul>
    </nav>
    <div>
        <a href="@Url.Action("AddEmployee")" class="btn btn-primary">Dodaj pracownika</a>
    </div>
</div>
