@using GearRent.PaginatedList
@using Microsoft.AspNetCore.Identity;
@model PaginatedList<Car>

@{
    Layout = "./_AdminLayout";
    ViewData["Title"] = "Car List";
    ViewBag.ControllerName = "Cars";
    ViewBag.ActionName = "CarList";
}

<h1>Car List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Color</th>
            <th>Number of Seats</th>
            <th>Engine Size</th>
            <th>Available</th>
            <th>Photo Link</th>
            <th>Tag</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>@car.Color</td>
                <td>@car.NumberOfSeats</td>
                <td>@car.EngineSize</td>
                <td>@car.Available</td>
                <td>@car.PhotoLink</td>
                <td>@car.Tag</td>
                <td>
                    <a href="@Url.Action("EditCar", new { id = car.Id })">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="javascript:void(0);" onclick="confirmDelete(@car.Id)">
                        <i class="fa fa-trash"></i>
                    </a>
                    <a href="@Url.Action("CarReservations", new { id = car.Id })">
                        <i class="fa fa-calendar"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between">
    <nav>
        <ul class="pagination">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("CarList", new { pageNumber = Model.PageIndex - 1 })">Previous</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.PageIndex)
                {
                    <li class="page-item active">
                        <span class="page-link">@i</span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("CarList", new { pageNumber = i })">@i</a>
                    </li>
                }
            }
            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("CarList", new { pageNumber = Model.PageIndex + 1 })">Next</a>
                </li>
            }
        </ul>
    </nav>
    <div>
        <a href="@Url.Action("AddCar", "Cars")" class="btn btn-primary">Add Car</a>
    </div>
</div>
<script>
    function confirmDelete(carId) {
        if (confirm('Are you sure you want to delete this car?')) {
            deleteCar(carId);
        }
    }

    function deleteCar(carId) {
        $.ajax({
            url: '@Url.Action("DeleteCar", "Admin")',
            type: 'Delete',
            data: { id: carId },
            success: function () {

                location.reload();
            },
            error: function (xhr, status, error) {
                console.error(error);
                alert('An error occurred while deleting the car.');
            }
        });
    }
</script>
