@using GearRent.PaginatedList;
@model PaginatedList<GearRent.Models.Car>

@{
    ViewData["Title"] = "Index";
}


@*<div class="container">
    <div class="row car-grid">
        @foreach (var car in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 car-item">
                <img src="@car.PhotoLink" />
                <div class="car-details">
                    <h5>@car.Make @car.Model</h5>
                    <p>@car.Year</p>
                    <div>
                        <a href="@Url.Action("Details", "Cars", new { id = car.Id })" class="btn btn-primary">Szczegóły</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>*@

@*// ///////////////////////
*@
@*<form method="get">
    <label for="startDate">Start date:</label>
    <input type="date" name="startDate" id="startDate">

    <label for="endDate">End date:</label>
    <input type="date" name="endDate" id="endDate">

    <label for="selectedCarTag">Car Tag:</label>
    <select name="selectedCarTag" id="selectedCarTag">
        <option value="">All</option>
        @foreach (var carTag in Enum.GetValues(typeof(CarTag)))
        {
            <option value="@carTag">@carTag</option>
        }
    </select>
    <select name="selectedColor" id="selectedColor">
        <option value="">All</option>
        @foreach (var color in ViewBag.Colors)
        {
            <option value="@color">@color</option>
        }
    </select>
    <button type="submit">Filter</button>
</form>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm })
        </th>

        <th>
            @Html.ActionLink("Make", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var car in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 car-item">

            <img src="@car.PhotoLink" />
            <div class="car-details">
                <h5>@car.Make @car.Model</h5>
                <p>@car.Year</p>
                <div>
                    <a href="@Url.Action("Details", "Cars", new { id = car.Id })" class="btn btn-primary">Szczegóły</a>
                </div>
            </div>
        </div>
    }
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>*@


<div class="container">
    <div class="row">
        <div class="col-lg-3 mt-4 d-flex justify-content-left">
            <form method="get">
                <div class="form-group">
                    <label for="startDate">Start date:</label>
                    <input type="date" class="form-control" name="startDate" id="startDate" min="@DateTime.Now.ToString("yyyy-MM-dd")">
                </div>

                <div class="form-group">
                    <label for="endDate">End date:</label>
                    <input type="date" class="form-control" name="endDate" id="endDate" min="@DateTime.Now.ToString("yyyy-MM-dd")">
                </div>

                <div class="form-group">
                    <label for="selectedCarTag">Car Tag:</label>
                    <select class="form-control" name="selectedCarTag" id="selectedCarTag">
                        <option value="">All</option>
                        @foreach (var carTag in Enum.GetValues(typeof(CarTag)))
                        {
                            <option value="@carTag">@carTag</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="selectedColor">Color:</label>
                    <select class="form-control" name="selectedColor" id="selectedColor">
                        <option value="">All</option>
                        @foreach (var color in ViewBag.Colors)
                        {
                            <option value="@color">@color</option>
                        }
                    </select>
                </div>

                <button type="submit" class="btn btn-primary mt-2">Filter</button>
            </form>
        </div>

        <div class="col-lg-9 mt-2">
            @foreach (var car in Model)
            {
                <div class="row row-car mb-4">
                    <div class="col-md-5">
                        <img src="@car.PhotoLink" class="img-fluid car-image col-md-5" alt="@car.Make @car.Model">
                    </div>
                    <div class="col-md-7">
                        <h5 class="card-title">@car.Make @car.Model</h5>
                        <p class="card-text">Price: @car.Price</p>
                        <a href="" id="order-link-@car.Id" class="btn btn-primary order-link" data-car-id="@car.Id">Order</a>
                    </div>
                </div>
            }
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="d-flex justify-content-between">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>

                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>

            </div>
        </div>
    </div>
</div>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const startDate = urlParams.get('startDate');
    const endDate = urlParams.get('endDate');

    document.getElementById("startDate").value = startDate;
    document.getElementById("endDate").value = endDate;

    const startDateInput = document.querySelector('#startDate');
    const endDateInput = document.querySelector('#endDate');

    startDateInput.addEventListener('change', () => {
        const startDateValue = new Date(startDateInput.value);
        const nextDay = new Date(startDateValue);
        nextDay.setDate(startDateValue.getDate() + 1);
        const minEndDate = nextDay.toISOString().slice(0, 10);
        endDateInput.min = minEndDate;

        // Check if end date is earlier than start date
        const endDateValue = new Date(endDateInput.value);
        if (endDateValue < startDateValue) {
            endDateInput.value = minEndDate;
        }
    });
    const orderLinks = document.querySelectorAll('.order-link');
    orderLinks.forEach(link => {
        const carId = link.getAttribute('data-car-id');
        link.addEventListener('click', event => {
            event.preventDefault();
            const selectedEndDate = document.querySelector('#endDate').value;
            const selectedStartDate = document.querySelector('#startDate').value;
            if (!selectedEndDate || !selectedStartDate) {
                alert('Please select start and end dates.');
                return;
            }
            window.location.href = `@Url.Action("Create", "Reservations")?carId=${carId}&startDate=${selectedStartDate}&endDate=${selectedEndDate}`;
        });
    });
</script>




